$topbarLeftGradientStartBgColor:#136E52 !default;
$topbarLeftGradientEndBgColor:#13956E !default;
$topbarRightGradientStartBgColor:#136E52 !default;
$topbarRightGradientEndBgColor:#13956E !default;
$topbarTextColor:#ffffff !default;
$menuGradientStartBgColor:#ffffff !default;
$menuGradientEndBgColor:#ffffff !default;
$menuitemHoverBgColor:#e8e8e8 !default;
$menuitemActiveColor:#20C997 !default;
$menuitemActiveBgColor:#e8e8e8 !default;
$menuButtonBgColor:#ffffff !default;
$menuButtonColor:#136E52 !default;
$badgeBgColor:#d9534f !default;
$badgeColor:#ffffff !default;
$darkMenuGradientStartBgColor:#363a41 !default;
$darkMenuGradientEndBgColor:#363a41 !default;
$darkMenuHoverBgColor:#4a4d54 !default;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65) !default;
$darkMenuMenuitemColor:#ffffff !default;
$darkMenuMenuitemActiveColor:#8FE4CB !default;
$darkMenuMenuitemActiveBgColor:#282b30 !default;

@import '../../sass/variables/layout/_variables';
@import '../../sass/layout/_layout';
