$topbarLeftGradientStartBgColor:#470EA2 !default;
$topbarLeftGradientEndBgColor:#510DBE !default;
$topbarRightGradientStartBgColor:#470EA2 !default;
$topbarRightGradientEndBgColor:#510DBE !default;
$topbarTextColor:#ffffff !default;
$menuGradientStartBgColor:#ffffff !default;
$menuGradientEndBgColor:#ffffff !default;
$menuitemHoverBgColor:#e8e8e8 !default;
$menuitemActiveColor:#6610F2 !default;
$menuitemActiveBgColor:#e8e8e8 !default;
$menuButtonBgColor:#ffffff !default;
$menuButtonColor:#470EA2 !default;
$badgeBgColor:#d9534f !default;
$badgeColor:#ffffff !default;
$darkMenuGradientStartBgColor:#363a41 !default;
$darkMenuGradientEndBgColor:#363a41 !default;
$darkMenuHoverBgColor:#4a4d54 !default;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65) !default;
$darkMenuMenuitemColor:#ffffff !default;
$darkMenuMenuitemActiveColor:#B287F8 !default;
$darkMenuMenuitemActiveBgColor:#282b30 !default;

@import '../../sass/variables/layout/_variables';
@import '../../sass/layout/_layout';
