$topbarLeftGradientStartBgColor:#904100 !default;
$topbarLeftGradientEndBgColor:#CB5C00 !default;
$topbarRightGradientStartBgColor:#904100 !default;
$topbarRightGradientEndBgColor:#CB5C00 !default;
$topbarTextColor:#ffffff !default;
$menuGradientStartBgColor:#ffffff !default;
$menuGradientEndBgColor:#ffffff !default;
$menuitemHoverBgColor:#e8e8e8 !default;
$menuitemActiveColor: #FD7E14 !default;
$menuitemActiveBgColor:#e8e8e8 !default;
$menuButtonBgColor:#ffffff !default;
$menuButtonColor:#904100 !default;
$badgeBgColor:#3eb839 !default;
$badgeColor:#ffffff !default;
$darkMenuGradientStartBgColor:#363a41 !default;
$darkMenuGradientEndBgColor:#363a41 !default;
$darkMenuHoverBgColor:#4a4d54 !default;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65) !default;
$darkMenuMenuitemColor:#ffffff !default;
$darkMenuMenuitemActiveColor:#FEBE89 !default;
$darkMenuMenuitemActiveBgColor:#282b30 !default;

@import '../../sass/variables/layout/_variables';
@import '../../sass/layout/_layout';
