/* Predefined Colors */
/* Add your variable customizations of layout here */
.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.ui-chronoline-event-content,
.ui-chronoline-event-opposite {
  line-height: 1;
}

@media screen and (max-width: 960px) {
  .customized-chronoline .ui-chronoline-event:nth-child(even) {
    flex-direction: row !important;
  }

  .customized-chronoline .ui-chronoline-event:nth-child(even) .ui-chronoline-event-content {
    text-align: left !important;
  }

  .customized-chronoline .ui-chronoline-event-opposite {
    flex: 0;
  }

  .customized-chronoline .ui-card {
    margin-top: 1rem;
  }
}
.order-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.order-badge.order-delivered {
  background: #C8E6C9;
  color: #256029;
}
.order-badge.order-cancelled {
  background: #FFCDD2;
  color: #C63737;
}
.order-badge.order-pending {
  background: #FEEDAF;
  color: #8A5340;
}
.order-badge.order-returned {
  background: #ECCFFF;
  color: #694382;
}

.product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}
.product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}
.product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}

.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.customer-badge.status-qualified {
  background: #C8E6C9;
  color: #256029;
}
.customer-badge.status-unqualified {
  background: #FFCDD2;
  color: #C63737;
}
.customer-badge.status-negotiation {
  background: #FEEDAF;
  color: #8A5340;
}
.customer-badge.status-new {
  background: #B3E5FC;
  color: #23547B;
}
.customer-badge.status-renewal {
  background: #ECCFFF;
  color: #694382;
}
.customer-badge.status-proposal {
  background: #FFD8B2;
  color: #805B36;
}

.filter-container .ui-inputtext {
  width: 400px;
}

.ui-selection-column {
  width: 2rem;
}

@media (max-width: 640px) {
  .filter-container {
    width: 100%;
    margin-top: 0.5rem;
  }

  .filter-container .ui-inputtext {
    width: 100%;
  }

  .ui-selection-column {
    width: auto;
    text-align: center;
  }
  .ui-selection-column .ui-column-title {
    display: none !important;
  }
}
.crud-demo .ui-datatable {
  margin-top: 1rem;
}
.crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.crud-demo .ui-dialog .product-image {
  width: 250px;
  margin: 0 auto 2rem auto;
  display: block;
}
.crud-demo .ui-dialog-footer .ui-button {
  min-width: 6rem;
}
.crud-demo .ui-datatable .ui-column-filter {
  display: none;
}
.crud-demo .products-table-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.crud-demo .edit-button.ui-button {
  margin-right: 0.5rem;
}
.crud-demo .orders-subtable {
  padding: 1rem;
}
.crud-demo .products-table > .ui-datatable-tablewrapper > table > thead > tr > th:nth-child(2) {
  width: 2rem;
}
.crud-demo .products-table .ui-rating {
  display: inline-block;
}

@media (max-width: 640px) {
  .products-table > .ui-datatable-tablewrapper > table > thead > tr > th:nth-child(2) .ui-column-title,
.products-table > .ui-datatable-tablewrapper > table > tbody > tr > td:nth-child(2) .ui-column-title {
    display: none !important;
  }

  .products-buttonbar {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .products-buttonbar > div:last-child {
    margin-top: 0.5rem;
  }
}
.dashboard-banking .overview-boxes .overview {
  height: 100%;
  box-sizing: border-box;
  min-height: 50px;
  border-radius: 4px;
  background-color: #457fca;
  background-image: -webkit-gradient(linear, left top, right top, from(#457fca), to(#5691c8));
  background-image: -webkit-linear-gradient(left, #457fca, #5691c8);
  background-image: -moz-linear-gradient(left, #457fca, #5691c8);
  background-image: -ms-linear-gradient(left, #457fca, #5691c8);
  background-image: -o-linear-gradient(left, #457fca, #5691c8);
  background-image: linear-gradient(left, #457fca, #5691c8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#457fca", endColorstr="#5691c8", gradientType="1");
}
.dashboard-banking .overview-boxes .overview-icon,
.dashboard-banking .overview-boxes .overview-text {
  display: block;
  float: left;
  margin-left: 5px;
}
.dashboard-banking .overview-boxes .overview-text span {
  display: block;
  height: auto;
}
.dashboard-banking .overview-boxes .overview-text {
  padding-top: 9px;
  padding-bottom: 9px;
}
.dashboard-banking .overview-boxes .overview-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #d9edf7;
}
.dashboard-banking .overview-boxes .overview-subtitle {
  line-height: 16px;
  color: #ffffff;
}
.dashboard-banking .currency-panel {
  height: 100%;
}
.dashboard-banking .currency-panel .dashboard-currency {
  min-height: 85px;
  height: 100%;
  padding: 23px 10px;
  border: 1px solid rgba(67, 69, 96, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}
.dashboard-banking .currency-panel .dashboard-currency:after {
  content: "";
  display: table;
  clear: both;
}
.dashboard-banking .currency-panel .dashboard-currency img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.dashboard-banking .currency-panel .dashboard-currency-icon,
.dashboard-banking .currency-panel .dashboard-currency-label {
  float: left;
}
.dashboard-banking .currency-panel .dashboard-currency-rates {
  float: right;
}
.dashboard-banking .currency-panel .dashboard-currency-rates .dashboard-currency-rate {
  float: left;
  margin-left: 15px;
  text-align: right;
}
.dashboard-banking .currency-panel .dashboard-currency-rates .dashboard-currency-rate:first-child {
  margin-left: 0;
}
.dashboard-banking .currency-panel .currency-rate-title {
  font-size: 12px;
  line-height: 20px;
  display: block;
  color: #777777;
}
.dashboard-banking .currency-panel .currency-rate-value {
  font-weight: 600;
  line-height: 17px;
  display: block;
}
.dashboard-banking .currency-panel .dashboard-currency-icon {
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.dashboard-banking .currency-panel .dashboard-currency-title {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}
.dashboard-banking .currency-panel .dashboard-currency-subtitle {
  font-size: 13.5px;
  font-weight: 500;
  color: #777777;
}
.dashboard-banking .currency-panel .currency-gold {
  margin-top: 8px;
}
.dashboard-banking .financial-overview {
  overflow: hidden;
}
.dashboard-banking .financial-overview .financial-overview-total {
  line-height: 36px;
  padding: 17px 14px 15px 14px;
  border-bottom: 1px solid #ddd;
  background-color: #fbfbfb;
}
.dashboard-banking .financial-overview .financial-overview-total-label {
  float: left;
  font-weight: 600;
  color: #777;
  font-size: 16px;
}
.dashboard-banking .financial-overview .financial-overview-total-value {
  float: right;
  font-size: 19px;
  font-weight: bold;
  text-align: right;
  color: #337ab7;
}
.dashboard-banking .financial-overview .financial-overview-total-value::before {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  content: "$";
  color: #6ba6d9;
}
.dashboard-banking .financial-overview .financial-overview-line {
  line-height: 20px;
  margin-bottom: 4px;
}
.dashboard-banking .financial-overview .financial-overview-line .line-left {
  float: left;
  color: #777;
}
.dashboard-banking .financial-overview .financial-overview-line .line-right {
  float: right;
  text-align: right;
}
.dashboard-banking .financial-overview .financial-overview-line .line-icon,
.dashboard-banking .financial-overview .financial-overview-line .line-label,
.dashboard-banking .financial-overview .financial-overview-line .line-value {
  display: inline-block;
  margin-bottom: 8px;
}
.dashboard-banking .financial-overview .financial-overview-line .line-icon {
  display: inline-block;
  width: 16px;
  margin-right: 12px;
  text-align: center;
  font-size: 16px;
}
.dashboard-banking .financial-overview .financial-overview-line .line-value {
  font-weight: 600;
}
.dashboard-banking .financial-overview .financial-overview-line .line-caret {
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  color: #777777;
}
.dashboard-banking .financial-overview .thumbnail img {
  display: block;
  width: 100%;
}
.dashboard-banking .financial-overview .progress {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: yellow;
}
.dashboard-banking .financial-overview .progress-explaination {
  font-size: 14px;
  line-height: 20px;
  color: #777777;
}
.dashboard-banking .financial-overview .button-link {
  line-height: 2em;
}
.dashboard-banking .financial-overview .panel-inner {
  padding: 15px;
}
.dashboard-banking .financial-overview .panel-inner.no-padding-top {
  padding-top: 0 !important;
}
.dashboard-banking .expenses .chart-expenses {
  padding-top: 10px;
  padding-left: 0;
}
.dashboard-banking .expenses .chart-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 3px;
  text-align: right;
}
.dashboard-banking .expenses .chart-label-name {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 3px;
  text-align: right;
  color: #777777;
}
.dashboard-banking .expenses .chart-status {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 16px;
  text-align: right;
}
.dashboard-banking .expenses .chart-status i {
  margin-right: 5px;
}
.dashboard-banking .expenses .status1 {
  color: #8ad88a;
}
.dashboard-banking .expenses .status2 {
  color: #de7470;
}
.dashboard-banking .expenses .shape, .dashboard-banking .expenses .shape3, .dashboard-banking .expenses .shape2, .dashboard-banking .expenses .shape1 {
  margin-right: 10px;
}
.dashboard-banking .expenses .shape1 {
  color: #d9edf7;
}
.dashboard-banking .expenses .shape2 {
  color: #6ba6d9;
}
.dashboard-banking .expenses .shape3 {
  color: #0154a3;
}
.dashboard-banking .asset-graph {
  width: 90%;
  margin-left: 5%;
  height: 240px;
}
.dashboard-banking .transaction {
  border-bottom: 1px solid yellow;
}
.dashboard-banking .transaction:last-child {
  border-bottom: none;
}
.dashboard-banking .transaction .transaction-title {
  font-weight: 500;
  display: block;
}
.dashboard-banking .transaction .transaction-subtitle {
  display: block;
  color: #777777;
}
.dashboard-banking .transaction .transaction-button {
  float: right;
  margin-top: 5px;
}
.dashboard-banking .customer-support .support-estimation {
  float: left;
  margin-top: 10px;
}
.dashboard-banking .customer-support .support-estimation span {
  display: block;
}
.dashboard-banking .customer-support .form-contact {
  margin-top: 15px;
}
.dashboard-banking .customer-support .form-contact button {
  margin-top: 25px;
}
.dashboard-banking .customer-support .support-top {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.dashboard-banking .customer-support .btn-padding {
  margin-top: 13px;
  margin-bottom: 17px;
}
.dashboard-banking .pull-right {
  float: right;
}

@media (min-width: 1025px) and (max-width: 1250px) {
  .overview-boxes .overview {
    text-align: center;
  }
  .overview-boxes .overview .overview-icon {
    float: none;
  }
  .overview-boxes .overview .overview-text {
    padding-top: 0;
    float: none;
  }

  .currency-panel .dashboard-currency {
    text-align: center;
  }
  .currency-panel .dashboard-currency .dashboard-currency-icon {
    float: none;
  }
  .currency-panel .dashboard-currency .dashboard-currency-label {
    float: none;
    margin-bottom: 4px;
  }
  .currency-panel .dashboard-currency .dashboard-currency-label > div {
    text-align: center;
  }
  .currency-panel .dashboard-currency .dashboard-currency-rates {
    float: none;
  }
  .currency-panel .dashboard-currency .dashboard-currency-rates .dashboard-currency-rate {
    float: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
}
.docs li {
  line-height: 1.5;
}

.floatlabel-demo .field {
  margin-top: 2rem;
}

.icons-demo .icons-list {
  text-align: center;
  color: #777777;
}
.icons-demo .icons-list i {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.list-demo .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.list-demo .product-description {
  margin: 0 0 1rem 0;
}
.list-demo .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.list-demo .product-category {
  font-weight: 600;
  vertical-align: middle;
}
.list-demo .product-list-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}
.list-demo .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}
.list-demo .product-list-item .product-list-detail {
  flex: 1 1 0;
  -ms-flex: 1 1 0px;
}
.list-demo .product-list-item .ui-rating {
  margin: 0 0 0.5rem 0;
}
.list-demo .product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}
.list-demo .product-list-item .product-list-action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.list-demo .product-list-item .ui-button {
  margin-bottom: 0.5rem;
}
.list-demo .product-grid-item {
  border: 1px solid #e5e5e5;
}
.list-demo .product-grid-item .product-grid-item-top,
.list-demo .product-grid-item .product-grid-item-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.list-demo .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}
.list-demo .product-grid-item .product-grid-item-content {
  text-align: center;
}
.list-demo .product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .list-demo .product-list-item {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
  .list-demo .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }
  .list-demo .product-list-item .product-list-detail {
    text-align: center;
  }
  .list-demo .product-list-item .product-price {
    align-self: center;
  }
  .list-demo .product-list-item .product-list-action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .list-demo .product-list-item .product-list-action {
    margin-top: 2rem;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}
.messages-demo .ui-button.ui-widget {
  min-width: 6rem;
}
.messages-demo .field > label {
  width: 125px;
}

.misc-demo .ui-button.ui-widget {
  min-width: 6rem;
}
.misc-demo .badges .ui-badge,
.misc-demo .badges .ui-tag {
  margin-right: 0.5rem;
}
.misc-demo .ui-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
.misc-demo .custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.misc-demo .custom-scrolltop:hover {
  background-color: var(--primary-color);
}
.misc-demo .custom-scrolltop .ui-scrolltop-icon {
  font-size: 1rem;
  color: var(--primary-color-text);
}
.misc-demo .custom-skeleton {
  border: 1px solid var(--surface-d);
  border-radius: 4px;
}
.misc-demo .custom-skeleton ul {
  list-style: none;
}

/**
* prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
* Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
* @author Tim  Shedor
*/
code[class*=language-],
pre[class*=language-] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  position: relative;
  margin: 0.5em 0;
  overflow: visible;
  padding: 0;
}

pre[class*=language-] > code {
  position: relative;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}

code[class*=language] {
  max-height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  position: relative;
  padding: 0.2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

pre[class*=language-]:before,
pre[class*=language-]:after {
  content: "";
  z-index: -2;
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  max-height: 13em;
  box-shadow: 0px 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

:not(pre) > code[class*=language-]:after,
pre[class*=language-]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

.token.punctuation {
  color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  pre[class*=language-]:before,
pre[class*=language-]:after {
    bottom: 14px;
    box-shadow: none;
  }
}
/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*=language-].line-numbers {
  padding-left: 0;
}

pre[class*=language-].line-numbers code {
  padding-left: 3.8em;
}

pre[class*=language-].line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*=language-][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

pre[data-line] code {
  position: relative;
  padding-left: 4em;
}

pre .line-highlight {
  margin-top: 0;
}

/* PrimeFaces styles */
pre[class*=language-]:before, pre[class*=language-]:after {
  display: none !important;
}
pre[class*=language-] code {
  border-left: 6px solid var(--surface-border) !important;
  box-shadow: none !important;
  background: var(--surface-ground) !important;
  margin: 1em 0;
  color: var(--text-color);
}

.language-css .token.string,
.style .token.string {
  background: transparent;
}

.table-demo .ui-datatable .ui-column-filter {
  display: none;
}
.table-demo .customers-table-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.table-demo .ui-progressbar-value.ui-widget-header {
  background: #607d8b;
}

@media (max-width: 640px) {
  .table-demo .ui-progressbar {
    margin-top: 0.5rem;
  }
}
.widget-overview {
  padding: 15px;
  color: #ffffff;
  min-height: 100px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 !important;
}
.widget-overview .overview-box-title {
  font-weight: bold;
  width: 100%;
}
.widget-overview .overview-box-title i {
  vertical-align: middle;
  font-size: 20px;
}
.widget-overview .overview-box-title span {
  margin-left: 0.5em;
  vertical-align: middle;
}
.widget-overview .overview-box-count {
  color: #ffffff;
  font-size: 24px;
  width: 100%;
  display: block;
  padding: 5px 0;
}
.widget-overview.overview-box-1 {
  background-color: #007bff;
  border: solid 1px #007bff;
  color: #ffffff;
}
.widget-overview.overview-box-2 {
  background-color: #28a745;
  border: solid 1px #28a745;
  color: #ffffff;
}
.widget-overview.overview-box-3 {
  background-color: #fd7e14;
  border: solid 1px #fd7e14;
  color: #ffffff;
}
.widget-overview.overview-box-4 {
  background-color: #6f42c1;
  border: solid 1px #6f42c1;
  color: #ffffff;
}

.widget-sale-table table {
  width: 100%;
  border-collapse: collapse;
}
.widget-sale-table table th {
  font-weight: 700;
  text-align: left;
  padding: 10px 15px;
}
.widget-sale-table table tbody tr:nth-child(odd) {
  background: #f9f9f9;
}
.widget-sale-table table tbody tr img {
  width: 36px;
  height: 36px;
}
.widget-sale-table table tbody tr td {
  padding: 10px 15px;
}
.widget-sale-table table tbody tr td:nth-child(1) {
  font-weight: 700;
  text-align: center;
}
.widget-sale-table table tbody tr td:nth-child(3) {
  font-weight: 700;
}

.widget-statistics table {
  width: 100%;
  border-collapse: collapse;
}
.widget-statistics table td {
  padding: 10px 15px;
}
.widget-statistics table td.col-overview {
  max-width: 48px;
}
.widget-statistics table td.col-overview div {
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.widget-statistics table td.col-overview.col-wait div {
  background-color: #d9534f;
}
.widget-statistics table td.col-overview.col-success div {
  background-color: #5cb85c;
}
.widget-statistics table td.col-overview.col-delay div {
  background-color: #f0ad4e;
}
.widget-statistics table td.col-overview.col-preorder div {
  background-color: #2ea59f;
}
.widget-statistics table td.col-status .status-time {
  display: block;
  width: 100%;
  color: #777777;
}
.widget-statistics table td.col-status .status-text {
  font-weight: bold;
}
.widget-statistics table td.col-numbers {
  font-weight: bold;
}
.widget-statistics table td.col-numbers span {
  margin-left: 10px;
  color: #777777;
}

.widget-graph {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding: 15px;
  width: 100%;
  height: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.widget-graph .graph-title {
  display: block;
  font-size: 16px;
  color: #777777;
}
.widget-graph .graph-value {
  display: block;
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}
.widget-graph .graph-change {
  color: #777777;
}
.widget-graph img {
  width: 100%;
}

.widget-task-list {
  overflow: hidden;
}
.widget-task-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.widget-task-list ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
}
.widget-task-list ul li:last-child {
  border-bottom: 0 none;
}
.widget-task-list ul .ui-chkbox-box {
  vertical-align: middle;
  margin-right: 5px;
}
.widget-task-list ul .task-name {
  vertical-align: middle;
}
.widget-task-list ul i {
  color: #777777;
  float: right;
  font-size: 16px;
}

.widget-contact-form {
  overflow: hidden;
}
.widget-contact-form .col-12 {
  padding: 10px 15px;
}
.widget-contact-form .col-12:last-child {
  padding-bottom: 0;
}

.widget-contacts {
  overflow: hidden;
}
.widget-contacts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.widget-contacts ul li {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  display: block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.widget-contacts ul li img {
  float: left;
  margin-right: 8px;
}
.widget-contacts ul li .contact-info {
  float: left;
}
.widget-contacts ul li .contact-info .name {
  display: block;
  margin-top: 4px;
  font-size: 14px;
}
.widget-contacts ul li .contact-info .location {
  margin-top: 4px;
  display: block;
  font-size: 12px;
  color: #777777;
}
.widget-contacts ul li .contact-actions {
  float: right;
  padding-top: 12px;
}
.widget-contacts ul li .contact-actions .connection-status {
  color: #ffffff;
  padding: 2px 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.widget-contacts ul li .contact-actions .connection-status.online {
  background-color: #5cb85c;
}
.widget-contacts ul li .contact-actions .connection-status.offline {
  background-color: #d9534f;
}
.widget-contacts ul li .contact-actions i {
  color: #777777;
  margin-left: 5px;
  font-size: 1.25em;
}
.widget-contacts ul li:last-child {
  border: 0;
}

.widget-timeline {
  height: 100%;
  box-sizing: border-box;
}
.widget-timeline > .grid .col-3 {
  font-size: 14px;
  position: relative;
  border-right: 1px solid #e5e5e5;
}
.widget-timeline > .grid .col-3 i {
  background-color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 6px;
  right: -12px;
}
.widget-timeline > .grid .col-9 {
  padding-left: 1.5em;
}
.widget-timeline > .grid .col-9 .event-text {
  color: #777777;
  font-size: 14px;
  display: block;
  padding-bottom: 20px;
}
.widget-timeline > .grid .col-9 .event-content img {
  width: 100%;
}

.widget-chat ul {
  padding: 12px;
  margin: 0;
  list-style-type: none;
}
.widget-chat ul li {
  padding: 6px 0;
}
.widget-chat ul li img {
  width: 36px;
  float: left;
}
.widget-chat ul li span {
  padding: 6px 12px;
  float: left;
  display: inline-block;
  margin: 4px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.widget-chat ul li.message-from img, .widget-chat ul li.message-from span {
  float: left;
}
.widget-chat ul li.message-from img {
  margin-right: 8px;
}
.widget-chat ul li.message-from span {
  background-color: #dff0d8;
  border: solid 1px #d6e9c6;
}
.widget-chat ul li.message-own img, .widget-chat ul li.message-own span {
  float: right;
}
.widget-chat ul li.message-own img {
  margin-left: 8px;
}
.widget-chat ul li.message-own span {
  background-color: #d9edf7;
  border: solid 1px #bce8f1;
}
.widget-chat .new-message {
  height: 40px;
  border-top: 1px solid #e5e5e5;
  color: #afafc0;
}
.widget-chat .new-message .message-attachment {
  display: inline-block;
  border-right: 1px solid #e5e5e5;
  width: 40px;
  line-height: 40px;
  height: 100%;
  text-align: center;
}
.widget-chat .new-message .message-attachment i {
  line-height: inherit;
  font-size: 24px;
}
.widget-chat .new-message .message-input {
  position: relative;
  top: -4px;
  width: calc(100% - 100px);
  display: inline-block;
}
.widget-chat .new-message .message-input input {
  border: 0 none;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
  outline: 0 none;
  padding-left: 8px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.widget-messages .message {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.widget-messages .messager {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.widget-messages .messager-img {
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 4px;
  border-left: 3px solid rgba(0, 0, 0, 0);
}
.widget-messages .message-body {
  float: left;
  width: auto;
  max-width: 80%;
}
.widget-messages .message-text {
  font-size: 14px;
  line-height: 20px;
  padding-right: 50px;
  text-align: left;
  color: #777777;
}
.widget-messages .messager-img,
.widget-messages .message {
  position: relative;
  display: inline-block;
  float: left;
}
.widget-messages .message-box {
  padding-right: 15px;
}
.widget-messages .message-box:hover {
  cursor: pointer;
}
.widget-messages .message-box:hover .messager-img {
  margin-left: -15px;
  padding-left: 15px;
  border-left: 3px solid #337ab7;
}
.widget-messages .online {
  margin-left: 5px;
  color: #8ad88a;
}
.widget-messages .offline {
  margin-left: 5px;
  color: #de7470;
}
.widget-messages .date {
  font-weight: 500;
  color: #ccc;
}

.block-section {
  margin-bottom: 4rem;
}

.block-header {
  padding: 1rem 2rem;
  background-color: var(--surface-section);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid var(--surface-d);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-header .block-title {
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}
.block-header .block-title .badge-free {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  background-color: var(--orange-500);
  color: white;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
}
.block-header .block-title .badge-new {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  background-color: var(--green-500);
  color: white;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
}
.block-header .block-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.block-header .block-actions a {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 0.2s;
  cursor: pointer;
  color: var(--text-color);
}
.block-header .block-actions a:last-child {
  margin-right: 0;
}
.block-header .block-actions a:not(.block-action-disabled):hover {
  background-color: var(--surface-c);
}
.block-header .block-actions a.block-action-active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.block-header .block-actions a.block-action-copy i {
  color: var(--primary-color);
  font-size: 1.25rem;
}
.block-header .block-actions a.block-action-disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: auto !important;
}
.block-header .block-actions a .pi-lock {
  margin-right: 0.5rem;
}

.block-content {
  padding: 0;
  border: 1px solid var(--surface-d);
  border-top: 0 none;
}
.block-content > div {
  display: none;
}
.block-content > div.block-content-active {
  display: block;
}

.block-section pre[class*=language-] {
  margin: 0 !important;
}
.block-section pre[class*=language-]:before, .block-section pre[class*=language-]:after {
  display: none !important;
}
.block-section pre[class*=language-] code {
  border-left: 0 none !important;
  box-shadow: none !important;
  background: var(--surface-e) !important;
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
  padding: 1.5rem 2rem !important;
}

@media screen and (max-width: 575px) {
  .block-header {
    flex-direction: column;
    align-items: start;
  }
  .block-header .block-actions {
    margin-top: 1rem;
  }
}
